$quiz-archive-vars: (
  bg-color: $base-primary-blue,
  success-message: $base-persian-color,
  fail-message: $base-punch-color,
  submit-color: $base-punch-color,
);

.admin-bar {
  .quizess__archive {
    margin-top: -$wp-admin-bar-mobile;
    padding-top: $wp-admin-bar-mobile;

    @include media(tablet up) {
      margin-top: -$wp-admin-bar-desktop;
      padding-top: $wp-admin-bar-desktop;
    }
  }
}

.quizess {
  &__archive {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: map-get($zindex, 'quiz-custom');
  }

  &__content {
    flex: 1;
  }

  &__container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }
}
