$quiz-colors: (
  bg-color: $base-primary-blue,
);

.quiz {
  $this: &;
  &__content {
    background-color: map-get($quiz-colors, 'bg-color');
    position: relative;
    height: 50vh;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &::after {
      @extend %blur-bg;
    }

    &--light {
      #{$this}__welcome--message {
        color: map-deep-get($theme-colors, light, 'color');
      }
      #{$this}__button--btn {
        background-color: map-deep-get($theme-colors, light, 'btn-primary-color');
      }
    }

    &--dark {
      #{$this}__welcome--message {
        color: map-deep-get($theme-colors, dark, 'color');
      }
      #{$this}__button--btn {
        background-color: map-deep-get($theme-colors, dark, 'btn-primary-color');
      }
    }
  }

  &__welcome {
    &--outer {
      @extend %centered-content;
      flex: 1;
      z-index: map-get($zindex, 'quiz-outer');
    }
  }

  &__button {
    &--outer {
      @extend %centered-content;
      flex: 1;
      z-index: map-get($zindex, 'quiz-outer');
    }
    &--btn {
      @extend %button-reset;
      padding: 20px 50px;
    }
  }

}
