$quiz-colors: (
  bg-color: $base-primary-blue,
);

.quiz {
  $this: &;
  &__content {
    background-color: map-get($quiz-colors, 'bg-color');
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    &::after {
      @extend %blur-bg;
    }

    &--light {
      #{$this}__welcome--message {
        color: map-deep-get($theme-colors, light, 'color');
      }
    }

    &--dark {
      #{$this}__welcome--message {
        color: map-deep-get($theme-colors, dark, 'color');
      }
    }
  }

  &__welcome {
    &--outer {
      @extend %centered-content;
      flex: 1;
      z-index: map-get($zindex, 'quiz-outer');
    }
    &--message {
      @include text-size(big);
      text-align: center;
      line-height: 1.1;
      letter-spacing: 1px;
      padding: 0 40px;
    }
  }

  &__buttons {
    @extend %centered-content;
    $that: &;
    flex: 1;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: map-get($zindex, 'quiz-outer');

    &--inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include media(mobile down) {
      #{$that}--inner,
      #{$that}--start {
        width: 100%;
      }
      .btn {
        width: 100%;
        margin: 5px 0;
      }
    }
  }

}
