$portfolio-block-variables: (
  list-item-color: $base-grey-color,
);

.wp-block-quizess-cpt-author-portfolio-block {
  @extend %block-element-default;
  padding: 10px;

  .portfolio-label {
    &--title {
      margin: 0;
    }
    &--description {
      font-style: italic;
      font-size: 14px;
      line-height: 1.3;
    }
  }

  .portfolio-item {
    margin: 20px 0;
    list-style: none;
    display: flex;
    align-items: center;
    &--wrap {
      background-color: rgba(map-get($portfolio-block-variables, 'list-item-color'), 0.1);
      border: 1px solid rgba(map-get($portfolio-block-variables, 'list-item-color'), 0.5);
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
    }
    &--image {
      max-width: 230px;
      width: 100%;
    }
    &--link {
      width: 100%;
      margin: 0 10px;
    }
    &--figure {
      margin: 0;
      .media-image-class {
        margin: 0 auto;
      }
    }
  }
  .add-buttopn-wrap {
    text-align: right;
    margin-top: 20px;
  }
  .remove-button {
    margin-left: 10px;
  }
}
