$video-text-block-variables: (
  light-color: $base-white-color,
  dark-color: $base-black-color,
  dark-background: $base-dark-grey-color,
);

.wp-block-quizess-video-text-block {
  @extend %block-element-default;
  padding: 80px 0;
  width: 100%;

  &.dark-theme {
    background-color: map-get($video-text-block-variables, 'dark-background');

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul {
      color: map-get($video-text-block-variables, 'light-color');
    }

  }


  .title-element {
    margin-bottom: 10px;
  }

  .image-component {
    @extend %item-bigger;
  }

  .media-video-parent-class {
    margin: 50px 0;
  }

  .video-block-elements {
    max-width: 1200px;
    margin: 0 auto;
  }

  .media-video-class {
    width: 100%;
  }

}
