$question-block-variables: (
  list-item-color: $base-grey-color,
);

.wp-block-quizess-questions-category-block {
  @extend %block-element-default;

  .quiz-elements-wrap {
    padding: 10px;
  }

  .quiz-element-item {
    border: 1px solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    font-size: 12px;
  }

  .question-category {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.2px;
  }

  .question-title {
    font-size: 12px;
  }

  .main-question {
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .answers-items-list {
    display: flex;
    flex-wrap: wrap;
    .answers-item {
      width: 100%;
      cursor: default;
      list-style: none;
      font-size: 16px;
      text-align: center;
      line-height: 1.5;
      padding: 10px;
      box-shadow: 1px 1px 3px 0 rgba(0,0,0,.5);
      margin: 5px 10px;
      opacity: 0.8;
      transition: opacity 0.3s ease;
    }

    .correct-answer {
      display: flex;
      flex-direction: column;
    }
    .correct-answer::after {
      content: 'Correct';
      display: inline-block;
      font-size: 10px;
      text-transform: uppercase;
    }

    .answers-item:hover {
      opacity: 1;
    }

    &.theme-light {
      .answers-item {
        background-color: #ffeb3b;
        border: 1px solid #607D8B;
        color: #795548;
      }
    }

    &.theme-dark {
      .answers-item {
        background-color: #2746A1;
        border: 1px solid #ffffff;
        color: #ffffff;
      }
    }
    &.columns {
      .answers-item {
        width: 40%;
        flex: 1;
      }
    }
  }

  .explanation-text {
    text-align: center;
    margin: 30px 0 10px;
    overflow: hidden;
    border-top: 1px dashed;
  }

  .lottie-preview {
    max-width: 600px;
    margin: 0 auto;
  }

  .explanation-preview {
  }
}
