$question--category-block: (
  lite-theme-bg: $base-yellow-color,
  lite-theme-color: $base-smear-color,
  dark-theme-bg: $base-blue-color,
  lite-border-color: $base-light-blue-color,
  dark-border-color: $base-white-color,
  item-box-shadow: $base-box-shadow,
  primary-bg-color: $base-primary-blue,
  primary-text-color: $base-white-color,
);

.wp-block-quizess-questions-category-block {
  @extend %block-element-default;
  background-color: map-get($question--category-block, 'primary-bg-color');
  color: map-get($question--category-block, 'primary-text-color');

  .quiz-elements-wrap {
    padding: 10px;
  }

  .quiz-element-item {
    border: 1px solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .question-header {
    @include text-size(small);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
  }

  .question-category {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.2px;
  }

  .question-title {
    @include text-size(small);
  }

  .main-question {
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .answers-items-list {
    display: flex;
    flex-wrap: wrap;
    .answers-item {
      width: 100%;
      cursor: default;
      list-style: none;
      font-size: 16px;
      text-align: center;
      line-height: 1.5;
      padding: 10px;
      box-shadow: 1px 1px 3px 0 map-get($question--category-block, 'item-box-shadow');
      margin: 5px 10px;
      opacity: 0.8;
      transition: opacity 0.3s ease;
    }

    .correct-answer {
      display: flex;
      flex-direction: column;
    }
    .correct-answer::after {
      @include text-size(tiny);
      content: 'Correct';
      display: inline-block;
      text-transform: uppercase;
    }

    .answers-item:hover {
      opacity: 1;
    }

    &.theme-light {
      .answers-item {
        background-color: map-get($question--category-block, 'lite-theme-bg');
        border: 1px solid map-get($question--category-block, 'lite-border-color');
        color: map-get($question--category-block, 'lite-theme-color');
      }
    }

    &.theme-dark {
      .answers-item {
        background-color: map-get($question--category-block, 'dark-theme-bg');
        border: 1px solid map-get($question--category-block, 'dark-border-color');
        color: map-get($question--category-block, 'dark-border-color');
      }
    }
    &.columns {
      .answers-item {
        width: 40%;
        flex: 1;
      }
    }
  }

  .explanation-header {
    text-align: center;
    margin: 30px 0 10px;
    overflow: hidden;
    border-top: 1px dashed;
  }

  .explanation-title {
    @include text-size(large);
    padding-top: 20px;
  }

  .explanation-text p {
    @include text-size(medium);
  }

  .explanation-preview {
    max-width: 700px;
    margin: 0 auto;
    border: 2px solid;

    .lottie-preview,
    .image-preview,
    .video-preview {
      margin: 0;
    }
  }
}
