.admin-bar {
  .quizess-custom {
    margin-top: -$wp-admin-bar-mobile;
    padding-top: $wp-admin-bar-mobile;

    @include media(tablet up) {
      margin-top: -$wp-admin-bar-desktop;
      padding-top: $wp-admin-bar-desktop;
    }
  }
}
.quizess-custom {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .quiz {
    flex: 1;

    &__content {
      height: 100%;
    }
  }
}
