$simple-text-block-variables: (
  input-text-padding: 100px,
  input-text-mobile-padding: 50px,
);

.wp-block-quizess-simple-text-block {
  @extend %block-element-default;
  @extend %block-element-flex;

  .body-text-item {
    padding: map-get($simple-text-block-variables, 'input-text-mobile-padding');
    display: flex;
    align-items: center;

    @include media(tablet up) {
      padding: map-get($simple-text-block-variables, 'input-text-padding');
    }
  }

  .body-component {
    @extend %item-smaller;
  }

  .title-component {
    @extend %item-bigger;
  }

  .simple-body-class {
    @include media(tablet up) {
      max-width: 650px;
      margin: 0 auto;
    }
  }

  .simple-title-class {
    @include media(tablet up) {
      max-width: 650px;
      margin: 0 auto;
    }
  }
}
