@import './components//answer-input/style';

.wp-block-quizess-question-block {
  @extend %block-element-default;
  padding: 10px;

  .answers-label {
    padding: 20px 0;
    &__title {
      margin: 0;
    }
    &__description {
      @include text-size(small);
      font-style: italic;
      line-height: 1.3;
    }
  }

  .add-answer__outer {
    text-align: center;
    margin-top: 20px;
  }

  .btn-remove {
    margin: 0 10px;
  }

  .question__title,
  .explanation__title {
    @extend %question-top-title;
  }

  .explanation__header {
    @extend %explanation-header;
  }

  .preview-media {
    @extend %preview-media-wrap;

    &__lottie,
    &__image,
    &__video {
      margin: 0;
    }
    .media-video-class {
      display: block;
    }
  }
}
