$table-button: (
  warning-color: $base-punch-color,
  title-bg-hover: $base-grey-color,
  title-color-hover: $base-blue-color,
);

.table {

  &__button {
    cursor: pointer;
    padding: 4px 8px;
    background: map-get($table-button, 'title-bg-hover');

    &--primary {
      color: map-get($table-button, 'title-color-hover');
      border: 1px solid map-get($table-button, 'title-color-hover');
    }

    &--warning {
      color: map-get($table-button, 'warning-color');
      border: 1px solid map-get($table-button, 'warning-color');
    }
  }
}
