$button-variables: (
  padding: 20px 50px,
);

$close-button-variables: (
  close-size: 35px,
  close-size-tablet: 24px,
  close-icon-size: 20px,
);
$button-colors: (
  color: $base-white-color,
  box-shadow: $dark-box-shadow,
);

.btn-close {
  @extend %button-reset;
  background: transparent;
  cursor: pointer;
  opacity: 1;
  color: map-get($button-colors, 'color');
  transition: opacity 0.3s ease;

  width: map-get($close-button-variables, 'close-size');
  height: map-get($close-button-variables, 'close-size');

  @include media(tablet up) {
    width: map-get($close-button-variables, 'close-size-tablet');
    height: map-get($close-button-variables, 'close-size-tablet');
  }
  &:hover {
    background: transparent;
    opacity: 0.8;
  }

  &::after {
    content: 'X';
    display: block;
    font-weight: bold;
    font-size: map-get($close-button-variables, 'close-icon-size');
  }

}

.btn {
  @extend %button-reset;

  @include text-size(large);
  color: map-get($button-colors, 'color');
  padding: map-get($button-variables, 'padding');
  box-shadow: 1px 2px 0 0 map-get($button-colors, 'box-shadow');
  &:hover {
    box-shadow: 1px 1px 0 0 map-get($button-colors, 'box-shadow');
  }
  &--light {
    background-color: map-deep-get($theme-colors, light, 'primary-color');
    &:hover {
      background-color: map-deep-get($theme-colors, light, 'primary-color');
    }
  }
  &--dark {
    background-color: map-deep-get($theme-colors, dark, 'primary-color');
    &:hover {
      background-color: map-deep-get($theme-colors, dark, 'primary-color');
    }
  }
}
