.last-score {
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid;

  &__parent {
    margin: 0;
  }
  &__item {
    display: flex;
  }

  &__inner {
    width: 330%;
  }
}
