$modal: (
  bg-color: $base-primary-blue,
  inner-bg-color: $base-modal-bg,
  cubic-ease: $cubic-ease,
);


.u-no-scroll {
  overflow: hidden;

  &-ios {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}


body.admin-bar {
  .modal {
    padding-top: $wp-admin-bar-mobile;
    box-sizing: inherit;
  }
}

.modal {
  background-color: map-get($modal, 'bg-color');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 150vw;
  top: 0;
  padding-top: 50px;
  z-index: map-get($zindex, 'modal');
  opacity: 0;
  animation-fill-mode: both;
  animation-timing-function: map-get($modal, 'cubic-ease');
  transition: {
    property: left, opacity;
    timing-function: ease-in;
    duration: 0.3s;
  }

  &::after {
    @extend %blur-bg;
  }

  &__inner {
    z-index: map-get($zindex, 'modal');
    -webkit-overflow-scrolling: touch;
    position: relative;
    height: 90%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: map-get($modal, 'inner-bg-color');
    padding: 40px 10px 10px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    animation-fill-mode: both;
    animation-timing-function: map-get($modal, 'cubic-ease');

    @include media(tablet up) {
      padding: 50px;
    }

    &--light {
      color: map-deep-get($theme-colors, light, 'color');
      border-color: map-deep-get($theme-colors, light, 'color');
      .last-score__header {
        background-color: map-deep-get($theme-colors, light, 'primary-color');
      }
    }
    &--dark {
      color: map-deep-get($theme-colors, dark, 'color');
      border-color: map-deep-get($theme-colors, dark, 'color');
      .last-score__header {
        background-color: map-deep-get($theme-colors, dark, 'primary-color');
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  &__about {
    @include media(tablet up) {
      padding-top: 50px;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &.is-active {
    @include animation(reveal, 0.3s);

    .modal__inner {
      @include animation(scale-in, 0.35s);
    }
  }

  &.is-inactive {
    @include animation(hide, 0.3s);

    .modal__inner {
      @include animation(scale-out, 0.25s);
    }
  }

}
