.last-score {
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 10px auto;
  border: 1px solid;

  &__header {
    padding: 5px 10px;
  }

  &__parent {
    margin: 0;
  }
  &__item {
    display: flex;
  }

  &__inner {
    width: 33%;
  }
}
