.scores {
  &__parent {
    @include text-size(medium);
    margin: 0;
    padding-top: 20px;
    text-align: center;
  }
  &__item {
    display: flex;
  }

  &__inner {
    width: 20%;
  }

  @include media(tablet up) {
    padding: 10px;
  }
}
