$modal: (
  bg-color: $base-primary-blue,
  preview-bg-color: $base-white-color,
  text-color: $base-white-color,
  close-size: 35px,
  close-size-tablet: 24px,
  close-icon-size: 20px,
);

body.admin-bar {
  .modal {
    padding-top: $wp-admin-bar-mobile;
    box-sizing: inherit;
  }
}


.modal {
  background-color: map-get($modal, 'bg-color');
  width: 100vw;
  height: 100%;
  box-sizing: content-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  overflow: hidden;
  left: 150vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  z-index: map-get($zindex, 'modal');
  opacity: 0;
  transition: {
    property: left, opacity;
    timing-function: ease-in;
    duration: 0.3s;
  }

  &::after {
    content: '';
    background-color: inherit;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.9;
  }

  &--active,
  &.is-active {
    opacity: 1;
    left: 0;
  }

  &__close-btn-wrap {
    width: 100%;
    text-align: right;
    padding-bottom: 5px;
  }
  &__close-btn {
    @extend %button-reset;
    background: transparent;
    color: map-get($modal, 'text-color');
    cursor: pointer;

    width: map-get($modal, 'close-size');
    height: map-get($modal, 'close-size');

    @include media(tablet up) {
      width: map-get($modal, 'close-size-tablet');
      height: map-get($modal, 'close-size-tablet');
    }

    &::after {
      content: 'X';
      display: block;
      color: map-get($modal, 'text-color');
      font-weight: bold;
      font-size: map-get($modal, 'close-icon-size');
    }
  }

  &__inner {
    z-index: map-get($zindex, 'modal');
    -webkit-overflow-scrolling: touch;
    height: 90%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    flex: 1;
  }

}
