$base-black-color:       #000000;
$base-light-grey-color:  #A0A5AA;
$base-dark-grey-color:   #252525;
$base-grey-color:        #EBEFF2;
$base-white-color:       #FFFFFF;
$base-light-blue-color:  #607D8B;
$base-blue-color:        #2746A1;
$base-primary-blue:      #0073A8;
$base-yellow-color:      #FEB916;
$base-smear-color:       #795548;

$base-box-shadow: rgba($base-light-blue-color, 0.5);
$background-overlay: rgba($base-black-color, 0.9);
