%block-element-default {
  font-family: $base-font-family;
}

%block-element-flex {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include media(tablet up) {
    flex-direction: row;
  }
}

%input-element-style {
  margin: $input-element-margin;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

%input-body-hover {
  .mce-content-body {
    border: 1px solid $base-light-grey-color;
    transition: box-shadow 0.3s ease;
  }
  &.active .mce-content-body {
    box-shadow: $input-box-shadow;
  }
  &.inactive .mce-content-body {
    box-shadow: $input-box-shadow-hover;
  }
}
%input-body-default {
  .mce-content-body {
    padding: $input-base-padding;
  }
}

%button-reset {
  padding: 0;
  border: 0;
  appearance: none;
  font-family: inherit;
  border-radius: 0;

  &:focus {
    outline: none;
  }
}

%centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

%question-top-title {
  @include text-size(small);
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2px;
}

%explanation-header {
  margin: 30px 0 10px;
  overflow: hidden;
  border-top: 1px dashed;
}

%preview-media-wrap {
  max-width: 700px;
  margin: 50px auto;
  border: 2px solid;
}
