$image-text-block-variables: (
  border-color: $base-grey-color,
  shadow-color: $base-black-color,
  yellow-color: $base-yellow-color,
  body-padding: 80px 100px 50px,
  body-padding-mobile: 50px,
);

.wp-block-quizess-image-text-block {
  @extend %block-element-default;
  @extend %block-element-flex;

  .body-image-item {
    display: flex;
  }

  .body-component {
    @extend %item-smaller;
    padding: map-get($image-text-block-variables, 'body-padding-mobile');
    display: flex;
    flex-direction: column;

    @include media(tablet up) {
      padding: map-get($image-text-block-variables, 'body-padding');
    }
  }

  .body-center-element {
    margin-top: 20px;
  }

  .body-bottom-element {
    max-width: 220px;
    font-size: 16px;
    border-top: 1px solid map-get($image-text-block-variables, 'border-color');
    padding-top: 10px;
  }

  .body-bottom-element.active {
    .mce-content-body {
      box-shadow: 0 3px 4px -4px map-get($image-text-block-variables, 'shadow-color');;
    }
  }

  .body-bottom-element.inactive {
    .mce-content-body {
      box-shadow: 0 2px 4px -4px map-get($image-text-block-variables, 'shadow-color');;
    }
  }

  .title-element {
    margin-bottom: 10px;
  }

  .image-component {
    @extend %item-bigger;
  }

  .media-image-parent-class {
    margin: 0;
    display: flex;
    align-items: center;
    .media-image-class {
      display: block;
      width: 100%;
    }
  }

  .bottom-item {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
  }

  .fonts-used-element,
  .hours-worked-element {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  .hours-title,
  .fonts-title {
    font-weight: bold;
    color: map-get($image-text-block-variables, 'yellow-color');
    margin: 0 15px;
  }

}
